/* Diagnostic Styling */
/* * {
  outline: 2px dotted gray;
}  */

/* temp background color */
body {
    background: lightgray;
}
  
/* vertical and horizontal centering */
body {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* containers */
main {
  display: flex;
}

.lucide {
  scale: 6;
  transform-origin: center;
}
.lucide-atom {
  transform: translate(-20px,0px);
}
.lucide-drum {
  transform: translate(-50px,0px);
}
.lucide-audio-lines {
  transform: translate(20px, 0px);
}
.lucide-soup {
  transform: translate(40px, 0px);
}

.nucleus {
  fill: purple;
  stroke: purple;
}

.drumstick {
  stroke: #b18557;
}

.flagpart {
  transform-origin: center;
  fill: red;
}

.steam {
  stroke: grey;
}
